@charset "utf-8";

// Import a Poppins Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// Custom variable values here...

// Navbar
$navbar-height: 8rem;

// Footer
$footer-padding: 3rem 1.5rem;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

// Custom CSS rules below...
.navbar-brand img {
    max-height: 100px;
    // height: 100px;
    max-width: unset;
}
